html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
}

	div#bg:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		z-index: -2;	  
		display: block;
		width: 100%;
		height: 100%;
		background: url("tiles.jpg") repeat;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}

	div#bg {
		width: 100%;
		min-height: 100%;
		background-color: rgba(37,32,53,0.7);
		overflow: auto;
	}

		div#title {
			position: fixed;
			width: 50%;
			height: 50%;
			margin: auto;			
			top: 0; left: 0; bottom: 0; right: 0;
			z-index: -1;
			text-align: center;			
			color: #e1dfe8;
			font-size: 15em;
			opacity: 0.8;
		}

	div.tilingtool {
		display: block;
		width: 802px;
		margin: 0 auto;
	}

		div.tilingtool h1 {
			margin-top: 0;
			padding-top: 50px;
			padding-bottom: 30px;
			text-align: center;
		}

		div.tilingtool form.paramgen {
			padding-top: 20px;
		}

			div.tilingtool form.paramgen > * {
				margin-bottom: 30px;
			}

			div.tilingtool form.paramgen label {
				display: inline-block;
				margin-right: 1%;
			}

			div.tilingtool form.paramgen input[type="button"]{
				padding: 1%;
			}

		div.tilingtool div.canvas {
			position: relative;
			display: block;
			background-color: transparent;
			width: 752px;
			margin: 50px;
			margin-bottom: 100px;
			border: 1px solid white;
		}

		div.tilingtool div.canvas.vertical-resize-cursor {
			cursor: n-resize;
		}

		div.tilingtool div.canvas.horizontal-resize-cursor {
			cursor: w-resize;
		}

			div.tilingtool div.canvas div.ruler {
				position: absolute;				
			}

			div.tilingtool div.canvas div.ruler.horizontal {
				left: -1px;
				top: -36px;
				width: 100%;
				height: 35px;
				border: 1px solid white;
				border-bottom: 0;
			}

				div.tilingtool div.canvas div.ruler.horizontal div.row-fluid {
					height: 100%;
				}

					div.tilingtool div.canvas div.ruler.horizontal div.row-fluid div.span1 {
						height: 100%;
						background: transparent;
					}

			div.tilingtool div.canvas div.ruler.vertical {
				left: -51px;
				top: -1px;
				width: 50px;
				height: 100%;
				border: 1px solid white;
				border-right: 0;
			}

				div.tilingtool div.canvas div.ruler div.marker {
					position: absolute;
					display: block;
					background-color: rgb(255,255,255);
				}

				div.tilingtool div.canvas div.ruler div.marker.active {
					background-color: rgb(0,255,255);
				}

				div.tilingtool div.canvas div.ruler.active div.marker.active {
					background-color: rgb(255,0,0);
				}

				div.tilingtool div.canvas div.ruler div.marker.active.disabled,
				div.tilingtool div.canvas div.ruler.active div.marker.active.disabled
				{
					background-color: rgb(255,255,255);
				}

				div.tilingtool div.canvas div.ruler.horizontal div.marker {
					width: 1px;
					height: 100%;
					top: 0;
					-webkit-background-clip: padding-box; /* for Safari */
					background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */				
					border: 0 solid rgba(255,255,255,0.5);
				}

				div.tilingtool div.canvas div.ruler.horizontal div.marker.active {
					border-color: rgba(0,255,255,0.5);
				}

				div.tilingtool div.canvas div.ruler.horizontal.active div.marker.active {
					border-color: rgba(255,0,0,0.5);
				}

				div.tilingtool div.canvas div.ruler.horizontal div.marker.active.disabled,
				div.tilingtool div.canvas div.ruler.horizontal.active div.marker.active.disabled {
					border-color: rgba(255,255,255,0.5);
				}

				div.tilingtool div.canvas div.ruler.vertical div.marker {				
					height: 1px;
					right: 0;
					text-align: center;
				}

				div.tilingtool div.canvas div.ruler.vertical div.marker.small {
					width: 20%;
				}

				div.tilingtool div.canvas div.ruler.vertical div.marker.medium {
					width: 50%;
				}

				div.tilingtool div.canvas div.ruler.vertical div.marker.large {
					width: 100%;
				}

					div.tilingtool div.canvas div.ruler.vertical div.marker div.number {
						color: rgb(255,255,255);
						cursor: default;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						-o-user-select: none;
						user-select: none; 
					}

					div.tilingtool div.canvas div.ruler.vertical div.marker div.number.active {
						color: rgb(0,255,255);
					}

					div.tilingtool div.canvas div.ruler.vertical.active div.marker div.number.active {
						color: rgb(255,0,0);
					}

					div.tilingtool div.canvas div.ruler.vertical div.marker div.number.active.disabled,
					div.tilingtool div.canvas div.ruler.vertical.active div.marker div.number.active.disabled {
						color: rgb(255,255,255);
					}
			
			div.tilingtool div.canvas div.crosshairs {
				position: absolute;
				display: table;
				margin: 0;
				padding: 0;
				pointer-events:none;
				z-index: 1000;
			}

			div.tilingtool div.canvas div.crosshairs.horizontal {
				left: 0;
				width: 100%;			
			}

			div.tilingtool div.canvas div.crosshairs.vertical {
				top: 0;
				height: 100%;
			}

			div.tilingtool div.canvas div.crosshairs.active {
				z-index: 1001;
			}

				div.tilingtool div.canvas div.crosshairs.horizontal div.column {
					display: table-cell;
				}

				div.tilingtool div.canvas div.crosshairs.vertical div.row {
					display: table-row;
				}

					div.tilingtool div.canvas div.crosshairs div.cell {
						-webkit-background-clip: padding-box; /* for Safari */
						background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
						background-color: rgb(0,255,255);
						border: 0 solid rgba(0,255,255,0.5);
					}

					div.tilingtool div.canvas div.crosshairs div.active div.cell {
						background-color: rgb(255,0,0);
						border-color: rgba(255,0,0,0.5);
					}

					div.tilingtool div.canvas div.crosshairs.horizontal div.column div.cell {
						display: block;
						height: 1px;
					}

					div.tilingtool div.canvas div.crosshairs.vertical div.row div.cell {
						display: table-cell;
						width: 1px;
					}

			div.tilingtool div.canvas div.grid {
				display: block;
				width: 100%;
				height: 100%;
			}

				div.tilingtool div.canvas div.grid div[class*="span"]:empty {
					background-color: rgba(20,20,20,0.8);
				}

				div.tilingtool div.canvas div.grid div.span12.initial {
					height: 500px;
				}

			div.tilingtool div.canvas div.bottom-expander {
				display: none;
				position: absolute;
				height: 10px;
				bottom: -5px;
				left: 0;
				right: 0;
				z-index: 2000;
			}

		div.tilingtool div.toolbar {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			height: 600px;
			width: 60px;
			margin: auto 0;
			z-index: 2000;
			background-color: rgba(20,20,20,0.8);
			border: 1px solid white;
			border-left: 0;
		}

			div.tilingtool div.toolbar button {
				display: block;
				width: 30px;
				height: 30px;
				background-color: transparent;
				background-image: none;
				border: 0;
				opacity: 0.7;
				cursor: pointer;
				margin: 50px auto;
			}

			div.tilingtool div.toolbar button:focus {
				outline: 0;
			}

			div.tilingtool div.toolbar button[name="create-tile"] {
				background-image: url("scalpel-normal.png");
			}

			div.tilingtool div.toolbar button[name="create-tile"]:hover,
			div.tilingtool div.toolbar button[name="create-tile"].active {
				background-image: url("scalpel-hover.png");
			}

			div.tilingtool div.toolbar button[name="resize-tile"] {
				background-image: url("resize-normal.png");
			}

			div.tilingtool div.toolbar button[name="resize-tile"]:hover,
			div.tilingtool div.toolbar button[name="resize-tile"].active {
				background-image: url("resize-hover.png");
			}

		div.tilingtool div.output {
			position: fixed;
			right: 0;
			left: 0;
			bottom: 0;
			width: 900px;
			max-height: 95%;
			min-height: 45px;
			margin: 0 auto;
			padding: 10px 5px;
			z-index: 2000;
			background-color: rgba(20,20,20,0.8);
			border: 1px solid white;
			border-bottom: 0;
			overflow: auto;
			text-align: center;
		}

			div.tilingtool div.output.min-height-opened {
				min-height: 250px;
			}

			div.tilingtool div.output button[name="code-view-switch"] {
				display: block;
				width: 100%;
				color: #e1dfe8;
				background-color: transparent;
				background-image: none;
				border: 0;
				opacity: 0.7;
				font-size: 40px;
				padding: 2px 6px;
				cursor: pointer;
				letter-spacing: 5px;
			}

			div.tilingtool div.output button[name="code-view-switch"]:hover {
				color: rgb(0,255,255);
			}

			div.tilingtool div.output button[name="code-copier"] {
				display: none;
				position: absolute;
				top: 150px;
				right: 0;
				background-color: #e1dfe8;
				background-image: none;
				border: 0;
				opacity: 0.7;
				cursor: pointer;
				font-size: 30px;
				font-weight: bold;
				color: rgba(20,20,20,0.8);
				box-shadow: 0 0 8px 5px #e1dfe8;
				padding: 5px 50px 5px 200px;
			}

			div.tilingtool div.output button[name="code-copier"].zeroclipboard-is-hover {
				background-color: rgb(0,255,255);
				box-shadow: 0 0 8px 5px rgb(0,255,255);
			}

			div.tilingtool div.output button[name="code-copier"]:focus,
			div.tilingtool div.output button[name="code-view-switch"]:focus {
				outline: 0;
			}

			div.tilingtool div.output pre.html {
				display: none;
				margin-top: 0;
				margin-bottom: 0;
				text-align: left;
			}

			/* Overriding the themee */
			div.tilingtool div.output pre.html.hljs {
				background-color: transparent;
			}

			div.tilingtool div.output pre.html.hljs::selection,
			div.tilingtool div.output pre.html.hljs::-moz-selection,
			div.tilingtool div.output pre.html.hljs span::selection
			div.tilingtool div.output pre.html.hljs span::-moz-selection {
				background-color: rgba(37,32,53,0.5);
			}